## 🇨🇿 Ověření na serveru

### Tři klíčové příkazy

* `/verify vut` – VUT ověření
* `/verify host` - Host ověření
* `/verify code` – zadání kódu z e-mailu

### Pro studentky, studenty a zaměstnance VUT

1. V kanálu <#1358876461825523863> napiš `/verify vut` (nezapomeň na své 6-místné číslicové ID nebo login např. xlogin00).
2. Na tvůj školní **Outlook e-mail** ti dorazí ověřovací kód.
3. Tento kód zadej pomocí `/verify code ABCDEF`.
4. Pokud jsi studentka nebo student, získáš roli **VUT**. Pokud ne, získáš roli **VUT Staff**. (Jako VUT Staff máš omezený přístup.)

### Hosté a zájemci o studium

1. V  <#1358876461825523863> napiš `/verify host <tvůj e-mail>`.
2. Do tvé e-mailové schránky přijde ověřovací kód.
3. Kód vlož pomocí `/verify code ABCDEF`.
4. Získáš roli **hosta** s přístupem do `#general` a `#offtopic`.

---

## 🇬🇧 Server Verification

### Three key commands

* `/verify vut` – BUT verification
* `/verify host` - Host verification
* `/verify code` – enter code from email

### For BUT students and others from BUT

1. In  <#1358876461825523863>, type `/verify vut` (don’t forget your 6-digit ID or login f.e. xlogin00).
2. A confirmation code will arrive in your **Outlook email**.
3. Enter it with `/verify code ABCDEF`.
4. If you are student, you’ll receive the **VUT role**. If you aren't, you will get **VUT Staff** role. (As VUT Staff, you have limited access.)

### Guests / prospective students

1. In <#1358876461825523863>, type `/verify host <your e-mail>`.
2. A confirmation code will be sent straight to your inbox.
3. Enter it using `/verify code ABCDEF`.
4. You’ll get the **guest role** with access to `#general` and `#offtopic`.
